/// Media Queries
//===============================================


// Viewport Settings
//---------------------------------------------

mobile-max = 		479px;
phablet-max = 		767px;
tablet-max = 		1023px;
desktop-sml-max =	1199px;
desktop-mid-max =	1799px;

phablet-min = 		mobile-max + 1;
tablet-min = 		phablet-max + 1;
desktop-sml-min = 	tablet-max + 1;
desktop-mid-min = 	desktop-sml-max + 1;
desktop-lrg-min = 	desktop-mid-max + 1;

createBreakpoint(fromThisSize = "", uptoThisSize = ""){
	query = "";
	if (fromThisSize != "" or uptoThisSize != "") {
		if (fromThisSize != "" and fromThisSize != 0)  {
			query += "(min-width:%s)" % (fromThisSize);
		}
		if ( (fromThisSize != "" and fromThisSize != 0) and uptoThisSize != "") {
			query += " and ";
		}
		if (uptoThisSize != "") {
			query += "(max-width:%s)" % (uptoThisSize);
		}
		return unquote(query);
	}
}

// Media Queries
//---------------------------------------------

// Map of set breakpoints
breakpoints_array ( b ) {
	if(b == "mobile") 					{ return createBreakpoint(0, mobile-max)}
	else if(b == "phablet")  			{ return createBreakpoint(phablet-min, phablet-max)}
	else if(b == "from-phablet")  		{ return createBreakpoint(phablet-min)}
	else if(b == "to-phablet")  		{ return createBreakpoint(0,phablet-max)}	
	else if(b == "tablet")  			{ return createBreakpoint(tablet-min, tablet-max)}
	else if(b == "to-tablet")  			{ return createBreakpoint(0,tablet-max)}
	else if(b == "from-tablet")  		{ return createBreakpoint(tablet-min)}
	else if(b == "desktop-sml")  		{ return createBreakpoint(desktop-sml-min, desktop-sml-max)}
	else if(b == "desktop")  			{ return createBreakpoint(desktop-sml-min)}
	else if(b == "from-desktop")  		{ return createBreakpoint(desktop-sml-min)}
	else if(b == "from-desktop-sml")  	{ return createBreakpoint(desktop-sml-min)}
	else if(b == "to-desktop-sml")  	{ return createBreakpoint(0,desktop-sml-max)}	
	else if(b == "desktop-mid")  		{ return createBreakpoint(desktop-mid-min, desktop-mid-max)}
	else if(b == "from-desktop-mid")  	{ return createBreakpoint(desktop-mid-min)}
	else if(b == "desktop-lrg")  		{ return createBreakpoint(desktop-lrg-min)}
	else if(b == "from-desktop-lrg")  	{ return createBreakpoint(desktop-lrg-min)}
	else{ return null }
};

breakpoint(breakpoint = "", resolution = "", media-type = "", media-feature = "") {
	if (breakpoint != "" or resolution != "" or media-feature != "" or media-type) {

		media = "";

		// Add breakpoint to media string
		if (breakpoint != "") {
			if (breakpoints_array(breakpoint) != null) {
				media += breakpoints_array(breakpoint);
			}
		}

		// Add dpi to media string
		if (resolution != "") {
			res-dpi = resolution * 96;

			if (media != "") {
				media += " and";
			}

			media += " all and (min-resolution: %sdpi) " % (res-dpi);
		}

		// Add additional supplied query types to media string
		if (media-type != "") {
			if (media != "") {
				media += " and ";
			}

			media += media-type;
		}
		
		// Add additional supplied query features to media string
		if (media-feature != "") {
			if (media != "") {
				media += " and ";
			}
			media += "all and (" + media-feature + ")";
		}

		@media {media} {
			{block}
		}
	}
}
