/// Settings
//===============================================

settings = {
    breakpoints: {
        mobile:      479px,
        phablet:     767px,
        tablet:      1023px,
        desktop-sml: 1199px,
        desktop-mid: 1799px,
    },
    defaults: {
        min-margin:          32px,
        min-padding:         16px,
        max-container-width: 960px,
        max-content-width:   800px,
        outer-alignment:     center,
        inner-alignment:     center
    }
}
