/// Settings
//===============================================

settings = {
	breakpoints : {
		mobile : 		479px,
		phablet : 		767px,
		tablet : 		1023px,
		desktop-sml :	1199px,
		desktop-mid :	1799px,
	}
}